@import '../../styles/variables';

@mixin background-style {
  background-image: url('../../images/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg');
  background-position: center center;
}

.hero {
  width: 100%;
  height: 100vh;
  @include background-style;
  overflow-x: hidden;
}

.hero {
  &__display-text {
    background: $dark;
    width: 100%;
    height: 45vh;
    clip-path: polygon(0 34%, 100% 0%, 100% 100%, 0% 100%);
    padding: 20% 4em 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__background {
    width: 100%;
    height: 55vh;
  }
}

.hero__text-container {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

  span:nth-child(1) {
    font-size: 1.5em;
  }

  span:nth-child(2) {
    font-size: 2.5em;
    margin: 19px 0;
  }

  span:nth-child(3) {
    font-size: 1.125em;
  }
}

.hero__socials {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;

  .facebook, .github, .email {
    width: 3em;
    height: 3em;
    margin: 1em 0;
  }

}

@media screen and (min-width: 500px) {
  .hero__socials, .hero__text-container {
    font-size: 20px;
  }
}

@media screen and (min-width: 980px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    background: none;
    align-items: center;
  }

  .hero {
    &__display-text {
      background: transparent;
      width: 50%;
      max-width: 600px;
      clip-path: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 3em 0 0 6em;
    }

    &__background {
      width: 60%;
      height: 100%;
      @include background-style;
      clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
    }

    &__text-container {
      color: $dark;
      font-size: 26px;

      span:nth-child(2) {
        color: $primary;
      }

    }


    &__socials {
      width: 55%;
      flex-direction: row;
      color: $dark;
    }

    .facebook {
      color: #3B5998;
    }

    .github {
      color: #333333;
    }

    .email {
      color: #C5221F;
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero__socials {
    width: 55%;
  }
}