@use 'sass:math';
@import '../../styles/variables';

.skills {
  max-width: 1280px;
  width: 80%;
  margin: $base-spacing auto;
  font-size: 1rem;
}

.skills__title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.08em;
  color: $primary;
  margin-bottom: math.div($base-spacing, 4);
  text-align: center;
}

.skills {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1280px;
  }

  &__img {
    height: 88px;
    margin: 0.5em 0;
  }
}

.skills__inner-list {
  list-style: none;
  font-size: 0.9rem;
  display: none;
}

.skills__item {
  margin: 1em 3em 1em 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.small-device {
  display: none;
}

@media screen and (min-width: 700px) {
  .skills__title {
    text-align: left;
  }
  .skills__item {
    text-align: left;
  }
  .small-device {
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .skills__item {
    width: 20%;
    margin-top: math.div($base-spacing, 2);
  }
}

@media screen and (min-width: 900px) {
  .skills {
    font-size: 1.2rem;
    margin-top: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .skills__inner-list {
    display: grid;
    place-items: center;
    opacity: 0;
  }
}
