@use "sass:math";
@import '../../styles/variables';


.about {
  max-width: 1280px;
  width: 80%;
  margin: $base-spacing auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.08em;
  color: $primary;
  margin-bottom: $base-spacing / 4;
  text-align: center;
}

.about__txt {
  color: $dark;
  font-weight: 500;
  font-size: 1em;
  line-height: 23px;
  max-width: 500px;
  text-align: center;
}

.about__icon-wrapper {
  width: 100%;
  max-width: 500px;
  margin-top: $base-spacing;
  display: grid;
  place-items: center;
}

.about__icon {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    margin-top: $base-spacing;
  }

  .about__title {
    text-align: left;
  }
  .about__txt {
    text-align: left;
  }

  .about__icon-wrapper {
    margin-top: 0;
  }

}

@media screen and (min-width: 900px) {
  .about {
    font-size: 1.2rem;
    margin-top: 200px;
  }
}